.advantages {
  background-color: $col-black50;
}
.advantages__wrapper {
  padding-top: 90px;
}

.advantages__list {
  display: flex;
  flex-direction: column;
  padding-bottom: 90px;
}

.advantages__list-item {
  padding: 30px;
  position: relative;
}

.advantages__list-item-num {
  position: absolute;
  width: 40px;
  height: 40px;
  color: $col-white;
  line-height: 40px;
  text-align: center;
  left: 30px;
  top: 0;
  background-color: $col-bright-red;
}

.advantages__list-item-head {
  margin-top: 70px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.42;
  color: $col-white;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.advantages__list-item-text {
  font-family: OpenSans;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.71;
  color: $col-white;
}

@media (min-width: 740px) {
  .advantages__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 84%;
    margin: auto;
    padding-bottom: 120px;
    max-width: 1140px;
  }

  .advantages__list-item {
    width: 33%;
  }

  .advantages__wrapper {
    padding-top: 120px;
  }

  .advantages__header {
    max-width: 550px;
    font-size: 40px;
  }
  .advantages__list-item-head {
    font-size: 32px;
  }
  .advantages__list-item-text {
    font-size: 15px;
  }
  .advantages__p {
    max-width: 200px;
  }
}

@media (min-width: 1080px) {
  .advantages__list,
  .advantages__wrapper {
    padding-left: 65px;
    padding-right: 65px;
  }
}
