.first-screen {
  height: calc(100vh - 70px);
  background-image: url(../images/bg/first-screen.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 80px;
}

.first-screen__wrapper {
  display: flex;
  flex-direction: column;
}

.first-screen__right {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.first-screen__logo {
  margin-bottom: 170px;
}

.first-screen__slogan {
  font-size: 50px;
  line-height: 54px;
  color: $col-white;
  max-width: 450px;
  font-weight: 700;
  text-transform: uppercase;
  display: none;
}

.first-screen__price {
  margin-bottom: 40px;
  width: 100%;
}

.first-screen__price-for {
  font-size: 32px;
  line-height: 36px;
  color: $col-white;
  text-transform: uppercase;
}

.first-screen__price-item {
  color: $col-bright-red;
  font-size: 80px;
  span {
    margin-left: 3px;
    font-size: 40px;
    vertical-align: 33px;
  }
}

.first-screen__order {
  width: 235px;
  height: 70px;
  line-height: 70px;
}

.first-screen__btn {
  height: 70px;
  line-height: 70px;
  display: flex;
  .btn {
    max-width: 235px;
  }
}

.first-screen__footnote {
  position: absolute;
  top: 70px;
  right: 20px;
  font-size: 14px;
  transform: rotate(-90deg);
  transform-origin: 100% 100%;
  color: $col-white;
  &:before {
    content: '';
    transform: rotate(90deg);
    display: inline-block;
    background-image: url(../images/icons/arrow-select-down.svg);
    background-repeat: no-repeat;
    width: 14px;
    height: 9px;
  }
}

@media (min-width: 790px) {
  .first-screen {
    padding-top: 180px;
    position: relative;
  }
  .first-screen__content-header {
    font-size: 50px;
  }
  .first-screen__wrapper {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }

  .first-screen__btn {
    width: 290px;
  }

  .first-screen_head {
    flex-direction: column;
    justify-content: flex-start;
  }

  .first-screen__content {
    max-width: 475px;
  }

  .first-screen__slogan {
    display: block;
  }

  .first-screen__logo {
    margin-bottom: 140px;
  }

  .first-screen__left {
    width: 65%;
  }
  .first-screen__right {
    width: 35%;
    justify-content: flex-start;
    flex-direction: column;
  }
  .first-screen__price {
    margin-top: -23px;
    margin-bottom: 115px;
  }
  .first-screen__footnote {
    bottom: 110px;
    left: -40px;
    top: auto;
    right: auto;
  }
}
