.header {
  height: 70px;
  background-color: $col-gray;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.header__left {
  max-width: 70px;
}

.header__right {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
}

.header__order {
  flex-grow: 1;
  order: -1;
  line-height: 70px;
}

.header__phone-number {
  font-size: 20px;
  color: $col-white;
  line-height: 70px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: right;
  text-decoration: none;
  display: none;
  &:hover {
    color: $col-white;
    text-decoration: none;
  }
}

.header__phone-icon {
  display: block;
  background-image: url('../images/icons/call.svg');
  background-repeat: no-repeat;
  width: 70px;
  height: 70px;
  background-position: 50%;
}

.header__select-sity {
  display: none;
}

.header__menu-btn {
  background-color: $col-white;
  line-height: 70px;
  width: 70px;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  align-items: center;
  transition: background 0.3s;
  &:hover {
    background-color: $col-bright-red;
    .header__menu-btn-buter-line {
      background-color: #fff;
    }
  }
}

.header__menu-btn-buter {
  margin: 0 auto;
}

.header__menu-btn-txt {
  width: 0;
  overflow: hidden;
}

.header__menu-btn-buter-line {
  height: 3px;
  width: 23px;
  margin: 0 auto 3px;
  background-color: $col-black;
  display: block;
  transition: background 0.3s;
}

@media (min-width: 740px) {
  .header__left {
    max-width: none;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
  }
  .header__right {
    flex-grow: 1;
  }
  .header__order {
    order: 0;
    max-width: 255px;
  }
}

@media (min-width: 890px) {
  .header__phone {
    min-width: 175px;
  }
  .header__phone-icon {
    display: none;
  }
  .header__phone-number {
    display: block;
    width: auto;
  }
}
