.landing__first-screen,
.landing-kit,
.landing-result {
  padding-top: 90px;
  padding-bottom: 90px;
}

.landing__first-screen-wrapper {
  display: flex;
  flex-direction: column;
}

.landing__first-screen-video{
  order: 1;
  margin-top: 90px;
}

.landing__first-screen-header{
  margin-bottom: 60px;
  span{
    color: $col-bright-red;
  }
}

.landing__first-screen-btn{
  height: 70px;
  line-height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  .btn{
    width: 80%;
  }
}

.landing-services__list{
  display: flex;
  flex-direction: column;
}

.landing-services{
  padding-bottom: 90px;
}

.landing-services__item {
  background-color: $col-black50;
  padding: 45px 40px 45px;
  position: relative;
  transition: all 0.3s;
  margin-bottom: 10px;
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 30px;
    width: 60px;
    height: 60px;
    min-width: 60px;
    background-color: $col-bright-red;
    border-radius: 50%;
    background-image: url(../images/icons/promoIcon-white.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transform: translateY(-30px);
    transition: all 0.3s;
  }
  &:hover {
    background-color: $col-bright-red;
    &:after {
      content: '';
      background-color: $col-white;
      border-radius: 50%;
      background-image: url(../images/icons/prompIcon.svg);
    }
  }
}

.landing-services__header {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.3;
  letter-spacing: normal;
  color: $col-white;
  max-width: 180px;
  text-transform: uppercase;
}

.landing-services__p{
  display: none;
}

.landing-kit__img{
  margin-bottom: 40px;
}

.landing-kit__header{
  margin-bottom: 25px;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.3;
  letter-spacing: normal;
  color: $col-white;
}

.landing-kit__p{
  font-family: OpenSans;
  font-size: 14px;
  line-height: 1.71;
  color: $col-white;
}

.landing-result__count{
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  padding-right: 40px;
}

.landing-result__count-item{
  width: 180px;
  margin-bottom: 20px;
  &_large {
    width: 100%;
    margin-bottom: 30px;
    .landing-result__count-num{
      font-size: 100px;
      color: $col-bright-red;
    }
  }
}

.landing-result__count-item:nth-child(even) {
  margin-left: 40px;
}

.landing-result__count-num{
  font-size: 60px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -2.86px;
  color: $col-white;
  display: block;
}

.landing-result__count-txt{
  font-size: 18px;
  font-weight: 300;
  line-height: 1.22;
  color: $col-white;
  display: block;
  .red{
    color: $col-bright-red;
  }
}

.landing-partners__list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.landing-partners__item{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 49%;
  height: 162px;
  padding: 30px;
  &_large{
    width: 100%;
    justify-content: flex-start;
  }
}

.landing-partners__item-txt{
  width: 100%;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.22;
  color: $col-white;
}

@media(min-width: 740px) {
  .landing-kit__item{
    display: flex;
    flex-direction: row;
  }

  .landing-kit__txt{
    width: 340px;
  }

  .landing-kit__header{
    font-size: 28px;
    margin-bottom: 20px;
  }

  .landing__first-screen-wrapper{
    flex-direction: row;
  }
  .landing__first-screen-video{
    order: -1;
  }

  .landing__video{
    width: 570px;
    height: 485px;
  }
  .landing__first-screen-block_top{
    position: relative;
    margin-left: -5%;
  }
  .landing__video-control{
    bottom: auto;
    top: -60px
  }
  .landing__intro{
    margin-left: 190px;
    .section__header{
      font-size: 40px;
    }
    &_services{
      width: 370px;
    }
    &_adv{
      width: 370px;
    }
    &_adv{
      width: 550px;
    }
    &_kit{
      width: 640px;
      margin-left: 0;
    }
    &_result {
      width: 440px;
      margin-left: 0;
    }
  }

  .landing-services__header{
    font-size: 32px;
    max-width: 350px;
  }
  .landing-services__p{
    display: block;
    font-family: OpenSans;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.87;
    color: $col-white;
    max-width: 420px;
  }
  .landing-result__count-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 33%;
  }
  .landing-result__count-item:nth-child(even){
    margin-left: 0;
  }
  .landing-result__count{
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0;
    padding-right: 0;
  }
  .landing-result__count-num {
    white-space: nowrap;
    font-size: 105px;
  }
  .landing-result__count-item_large{
    width: 100%;
    .landing-result__count-num{
      font-size: 160px;
    }
    .landing-result__count-txt{
      font-size: 38px;
      text-transform: uppercase;
      font-weight: 700;
      width: 280px;
      margin-left: 20px;
      line-height: 1;
    }
  }
  .landing-partners__item{
    width: 300px;
    height: 320px;
    padding: 50px;
    margin: 10px;
    background-color: $col-black25;
    &_large{
      flex-grow: 1;
      width: 40%;
      flex-direction: column;
      align-items: flex-start;
      .landing-partners__item-logo{
        margin-bottom: 30px;
      }
      .landing-partners__item-txt{
        max-width: 300px;
      }
    }
  }
}

@media (min-width: 1080px) {
  .landing-services__wrapper,
  .landing-result__wrapper,
  .landing-kit__wrapper{
    padding-left: 65px;
    padding-right: 65px;
  }
}
