.link-list {
  width: 70px;
  height: 70px;
  background-image: url(../images/icons/links-list.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: $col-white;
  transition: background 0.3s;
  &:hover {
    background-color: $col-gray-dark;
  }
  &_first-screen {
    margin-left: 10px;
  }
}

@media (min-width: 790px) {
  .link-list_first-screen {
    position: absolute;
    bottom: 30px;
    right: 30px;
  }
}
