.menu {
  width: 0;
  overflow: hidden;
  background-color: $col-black;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 10;
  transition: width 0.3s;
  &.active {
    width: 100%;
  }
}

.menu__header-nav {
  padding-left: 60px;
}

.menu__header-nav-item {
  display: block;
  text-decoration: none;
  font-family: Acrobat;
  font-size: 22px;
  font-weight: 300;
  line-height: 1.45;
  color: $col-white;
  margin-bottom: 20px;
  transition: color 0.3s;
  padding-right: 70px;
  &:hover {
    text-decoration: none;
    color: $col-bright-red;
  }
}

.menu__header-close {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9;
  background-image: url(../images/icons/close-menu.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.menu__footer {
  color: $col-white;
  background-color: $col-black50;
  transform: rotate(-90deg);
  position: absolute;
  bottom: 100vh;
  width: 100vh;
  right: 0;
  height: 70px;
  transform-origin: 100% 100%;
}

.menu__footer-copy {
  display: none;
}

.menu__footer-autor {
  font-size: 18px;
  line-height: 70px;
  text-indent: 20px;
  span {
    color: $col-bright-red;
  }
}

// @media (min-width: 740px) {
//   .menu {
//     position: relative;
//     &.active {
//       width: 40%;
//     }
//   }
// }
