.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 11;
  height: 100%;
  display: none;
  overflow-y: auto;
  overflow-x: hidden;
}

.modal {
  &.active {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

.modal__body {
  width: 100%;
  position: relative;
  padding-top: 90px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 90px;
  &_black {
    background-color: $col-black50;
  }
  &_salon {
    padding: 0;
    overflow-y: scroll;
  }
}

.modal__header {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.13;
  letter-spacing: normal;
  color: $col-white;
  width: 60%;
}

.modal__p {
  font-family: OpenSans;
  font-size: 15px;
  font-weight: 100;
  line-height: 2;
  color: $col-white;
  margin-bottom: 40px;
}

.modal__overlay {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  min-height: 100%;
}

.modal__close {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9;
  background-image: url(../images/icons/close-menu.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.modal__red-order-form {
  background-color: $col-bright-red;
  padding-top: 90px;
  padding-bottom: 90px;
  padding-right: 30px;
  padding-left: 30px;
}

@media (min-width: 820px) {
  .modal {
    &_long {
      &.active {
        justify-content: flex-start;
        padding-top: 80px;
      }
    }
  }
  .modal__overlay {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.8);
    display: block;
    min-height: calc(100% + 220px);
  }
  .modal__body {
    width: 760px;
    height: auto;
    padding-top: 60px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 60px;
    z-index: 12;
  }
  .modal__close {
    right: -70px;
  }
  .modal__p {
    width: 340px;
    margin-bottom: 50px;
  }
  .modal__form-two {
    .order__form-input {
      width: 48%;
    }
    .order__form-input-submit {
      width: 100%;
    }
  }
}
