.salons__wrapper {
  padding-top: 90px;
  padding-bottom: 90px;
  width: 100%;
}

.salons__head {
  display: flex;
  flex-direction: column;
}

.salons__header {
  font-size: 32px;
  font-weight: bold;
  line-height: 1.13;
  color: $col-white;
  margin-bottom: 40px;
  text-transform: uppercase;
  padding-left: 30px;
  padding-right: 30px;
}

.salons__choise-city {
  background-color: $col-black50;
  padding-top: 36px;
  padding-bottom: 60px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 60px;
}

.salons__choise-city-btn {
  height: 70px;
  line-height: 70px;
}

.salons__select-sity {
  margin-bottom: 40px;
}

.salons__list {
  width: 84%;
  margin: auto;
}

.salons__list-item {
  margin-bottom: 20px;
  background-color: $col-black50;
  display: flex;
  flex-direction: column;
  position: relative;
}

.salons__list-item-img {
  height: 40%;
  width: 100%;
  margin-bottom: 30px;
  img {
    min-width: 100%;
  }
}

.salons__list-item-adress {
  padding: 30px 40px 44px;
}

.salons__list-item-city {
  font-size: 12px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.26px;
  color: $col-bright-red;
  text-transform: uppercase;
}

.salons__list-item-metro {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.3;
  color: $col-white;
  margin-bottom: 20px;
}

.salons__list-item-street {
  font-family: OpenSans;
  font-size: 14px;
  line-height: 1.71;
  color: $col-white;
}

.salons__list-item-link {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.28px;
  color: $col-bright-red;
  display: block;
  text-decoration: none;
  border-top: 1px solid $col-gray;
  height: 70px;
  line-height: 70px;
  padding-left: 40px;
  padding-right: 40px;
  text-transform: uppercase;
  position: relative;
  &:after {
    content: "";
    width: 20px;
    height: 20px;
    right: 20px;
    top: 50%;
    transform: translateY(-10px) rotate(-90deg);
    position: absolute;
    background-image: url(../images/icons/arrow-select-down-red.svg);
    background-repeat: no-repeat;
  }
  &:hover {
    text-decoration: none;
  }
}

.salons__list-pagination {
  height: 70px;
  width: 84%;
  margin: 40px auto;
}

.salons__modal-head {
  height: 70px;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
}

.salons__modal-head-adr {
  position: absolute;
  top: 520px;
  left: 30px;
  width: calc(100% - 60px);
  border-bottom: 1px solid $col-gray-light;
}

.salons__modal-head-adr-city {
  height: 35px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px;
  color: $col-white;
  background-color: $col-bright-red;
  line-height: 35px;
  text-align: center;
  position: absolute;
}

.salons__modal-head-adr-street {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: -0.3px;
  color: $col-white;
  margin-top: 60px;
  max-width: 275px;
  padding-bottom: 30px;
}

.salons__modal-head-metro {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.3;
  color: $col-white;
  line-height: 70px;
  &:before {
    content: "";
    background-image: url(../images/icons/metro.svg);
    background-repeat: no-repeat;
    width: 20px;
    height: 15px;
    display: inline-block;
    margin-right: 15px;
  }
}

.salons__modal-videos .flickity-button,
.salons__modal-videos .flickity-page-dots {
  display: none;
}

.salons__modal-videos-item {
  height: 420px;
  margin-bottom: 170px;
  overflow: hidden;
}

.salons__modal-adv {
  padding: 30px;
}

.salons__modal-adv-plus {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.3;
  color: $col-bright-red;
  max-width: 275px;
  margin-bottom: 30px;
}

.salons__modal-adv-count {
  display: flex;
  justify-content: flex-start;
}

.salons__modal-adv-count-item {
  font-size: 120px;
  color: $col-white;
  display: flex;
  transform-origin: 50%;
  font-weight: 700;
  margin-right: 30px;
  span {
    font-size: 18px;
    text-transform: uppercase;
    transform: rotate(-90deg) translateY(50px);
  }
}

.salons__modal-how-find-slider .flickity-button,
.salons__modal-how-find-slider .flickity-page-dots {
  display: none;
}

.salons__modal-how-find {
  margin-bottom: 40px;
}

.salons__modal-how-find-item {
  padding-top: 30px;
  border-top: 1px solid $col-gray-light;
  position: relative;
  width: 80%;
  padding-right: 60px;
  padding-left: 60px;
  margin-top: 10px;
}

.salons__modal-how-find-video {
  height: 310px;
  overflow: hidden;
}

.salons__modal-how-find-video-header {
  position: absolute;
  top: 30px;
  left: 30px;
  text-transform: uppercase;
}

.salons__modal-how-find-point {
  position: absolute;
  width: 20px;
  height: 20px;
  top: -10px;
  left: 30px;
  border: 4px solid $col-bright-red;
  border-radius: 50%;
}

.salons__modal-how-find-head {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.3;
  color: $col-white;
}

.salons__modal-how-find-body {
  font-size: 14px;
  line-height: 1.71;
  color: $col-white;
}

.salons__modal-how-find-btn {
  height: 70px;
  line-height: 70px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

@media (min-width: 740px) {
  .salons__wrapper {
    width: 84%;
    max-width: 1140px;
  }

  .salons__list-item-link {
    display: none;
  }

  .salons__head {
    flex-direction: row;
    padding-left: 65px;
    padding-right: 65px;
  }

  .salons__header {
    font-size: 50px;
    line-height: 1.08;
    max-width: 265px;
    margin-right: 60px;
  }

  .salons__choise-city {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .section__title {
    width: 100%;
  }
  .salons__select-sity {
    width: 50%;
  }

  .salons__choise-city-btn {
    width: 45%;
  }

  .salons__list-item {
    flex-direction: row;
    height: 220px;
    &::after {
      content: "";
      position: absolute;
      right: 40px;
      top: 50%;
      width: 70px;
      height: 70px;
      background-image: url(../images/icons/promoIcon-white.svg);
      background-position: 50% 50%;
      background-repeat: no-repeat;
      transform: translateY(-35px);
      border: 1px solid $col-gray-light;
      border-radius: 50%;
    }
  }

  .salons__list-item-img {
    width: 304px;
    height: 220px;
    margin-right: 70px;
  }
  .salons__list-pagination {
    display: none;
  }

  .salons__list-item-city {
    font-size: 14px;
  }

  .salons__list-item-metro {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .salons__list-item-street {
    font-size: 15px;
    max-width: 250px;
  }

  .salons__modal-videos-item {
    margin-bottom: 0;
  }

  .salons__modal-videos .flickity-button {
    display: block;
    top: auto;
    bottom: 60px;
    &.next {
      right: 60px;
    }
    &.previous {
      left: auto;
      right: 130px;
    }
  }
  .salons__modal-head {
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .salons__modal-head-adr {
    position: static;
    width: 50%;
    border-bottom: none;
  }

  .salons__modal-adv {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .salons__modal-adv-plus{
    margin-bottom: 0;
    font-size: 24px;
    width: 190px;
  }
  .salons__modal-adv-count{
    max-width: 250px;
  }
  .salons__modal-head-metro{
    font-size: 28px;
  }
  .salons__modal-how-find-slider .flickity-button{
    display: block;
    bottom: -110px;
    top: auto;
    &.next {
      right: auto;
      left: 70px;
    }
    &.previous {
      left: 0;
      right: auto;
    }
  }

  .salons__modal-how-find-btn{
    margin-right: 0;
    width: 60%;
  }

  .salons__modal-how-find-video {
    height: 400px;
    margin-left: -70px;
    width: calc(100% + 140px);
  }
  .salons__modal-how-find{
    margin-bottom: 0;
  }
  .salons__order-form{
    margin-left: -70px;
    width: calc(100% + 140px);
    padding-left: 70px;
    padding-right: 70px;
  }
}
