.salons__wrapper {
  padding-top: 90px;
  padding-bottom: 90px;
  width: 100%;
}

.salons__head {
  display: flex;
  flex-direction: column;
}

.salons__header {
  font-size: 32px;
  font-weight: bold;
  line-height: 1.13;
  color: $col-white;
  margin-bottom: 40px;
  text-transform: uppercase;
  padding-left: 30px;
  padding-right: 30px;
}

.salons__choise-city {
  background-color: $col-black50;
  padding-top: 36px;
  padding-bottom: 60px;
  padding-left: 30px;
  padding-right: 30px;
}

.salons__choise-city-btn {
  height: 70px;
  line-height: 70px;
}

.salons__select-sity {
  margin-bottom: 40px;
}

.salons__list {
  width: 84%;
  margin: auto;
}

.salons__list-item {
  margin-bottom: 20px;
  background-color: $col-black50;
  display: flex;
  flex-direction: column;
}

.salons__list-item-img {
  height: 40%;
  width: 100%;
  margin-bottom: 30px;
  img {
    min-width: 100%;
  }
}

.salons__list-item-adress {
  padding: 30px 40px 44px;
}

.salons__list-item-city {
  font-size: 12px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.26px;
  color: $col-bright-red;
  text-transform: uppercase;
}

.salons__list-item-metro {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.3;
  color: $col-white;
  margin-bottom: 20px;
}

.salons__list-item-street {
  font-family: OpenSans;
  font-size: 14px;
  line-height: 1.71;
  color: $col-white;
}

.salons__list-item-link {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.28px;
  color: $col-bright-red;
  display: block;
  text-decoration: none;
  border-top: 1px solid $col-gray;
  height: 70px;
  line-height: 70px;
  padding-left: 40px;
  padding-right: 40px;
  text-transform: uppercase;
  position: relative;
  &:after {
    content: '';
    width: 20px;
    height: 20px;
    right: 20px;
    top: 50%;
    transform: translateY(-10px) rotate(-90deg);
    position: absolute;
    background-image: url(../images/icons/arrow-select-down-red.svg);
    background-repeat: no-repeat;
  }
  &:hover {
    text-decoration: none;
  }
}

.salons__list-pagination {
  height: 70px;
  width: 84%;
  margin: 40px auto;
}
