.select-sity {
  height: 70px;
  line-height: 70px;
  background-color: $col-black;
  color: $col-white;
  font-weight: 300;
  font-size: 14px;
  position: relative;
  z-index: 9;
  transition: background 0.3s;
  &_header {
    display: none;
  }
  &_menu {
    display: block;
    width: calc(100% - 70px);
  }
  &:hover {
    background-color: $col-gray-dark;
  }
  &_transperent {
    background-color: transparent;
    border: 1px solid $col-gray;
    .select-sity__btn {
      background-color: $col-bright-red;
    }
  }
  &_black {
    background-color: $col-black;
    .select-sity__label {
      background-color: $col-black;
    }
    .select-sity__btn {
      background-color: $col-bright-red;
    }
  }
  &.active {
    .select-sity__btn {
      background-image: url(../images/icons/arrow-select.svg);
    }
    .select-sity__list {
      height: 140px;
    }
    // .select-sity__label {
    //   display: none;
    // }
  }
}

.select-sity__list {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 0;
  overflow: hidden;
  transition: height 0.3s;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.select-sity__btn {
  position: absolute;
  top: 0;
  right: 0;
  background-image: url(../images/icons/arrow-select-down.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: transparent;
  width: 70px;
  height: 70px;
  z-index: 20;
}

.select-sity__label {
  padding: 0 0 0 60px;
  height: 70px;
  line-height: 70px;
  color: $col-white;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  background-image: url(../images/icons/gps.svg);
  background-repeat: no-repeat;
  background-position: 30px 50%;
  cursor: pointer;
  transition: all 0.3s;
}

.select-sity__item {
  margin: 0;
  padding: 0 0 0 60px;
  height: 70px;
  line-height: 70px;
  color: $col-white;
  background-color: $col-gray-dark;
  background-image: url(../images/icons/gps.svg);
  background-repeat: no-repeat;
  background-position: 30px 50%;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background 0.3s;
  &:hover {
    background-color: $col-black;
  }
}

@media (min-width: 740px) {
  .select-sity {
    background-color: $col-gray;
    &_transperent {
      background-color: transparent;
      border: 1px solid $col-gray;
      .select-sity__btn {
        background-color: $col-bright-red;
      }
      .select-sity__label {
        border-left: none;
      }
    }
  }

  .select-sity__label {
    border-left: 1px solid $col-gray-light;
  }

  .select-sity_menu {
    display: none;
  }
  .select-sity_header {
    display: block;
    min-width: 225px;
  }
  .select-sity:after {
    left: 80%;
  }
}
