.success {
  display: flex;
  flex-direction: column;
}

.success__img {
  width: 100%;
  height: 370px;
}

.success__img-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 340px;
  background-color: $col-white;
}

.success__btn {
  width: 100%;
  height: 70px;
}

@media (min-width: 820px) {
  .success {
    flex-direction: row;
    justify-content: space-between;
  }
  .success__text {
    width: 287px;
    height: 340px;
    .modal__header {
      margin-top: 0;
    }
    .modal__p {
      margin-bottom: 105px;
    }
  }
  .success__img {
    width: 287px;
    height: 340px;
    margin-right: 50px;
    background-color: $col-white;
  }
  .success__img-item {
    position: relative;
  }
}
