.team {
  padding-top: 90px;
  padding-bottom: 410px;
  background-image: url(../images/bg/team.png), url(../images/bg/team-angle1.svg), url(../images/bg/team-angle2.svg);
  background-repeat: no-repeat;
  background-position: 50% 100%, 0% 0%, 100% 0%;
  background-size: contain, 50%, 40%;
}

.team__header {
  width: 240px;
}

@media (min-width: 740px) {
  .team {
    background-image: url(../images/bg/team.png), url(../images/bg/team-bg.svg);
    background-position: 90% 100%, 100% 0%;
    background-size: none;
    padding-bottom: 185px;
  }
  .team__header, .team__txt{
     width: 300px;
  }

}

@media (min-width: 1080px) {
  .team__wrapper {
    padding-left: 65px;
    padding-right: 65px;
  }
}
