//colors
$col-black: #000000;
$col-black75: #090909;
$col-black50: #101010;
$col-black25: #1b1b1b;
$col-gray: #222222;
$col-bright-red: #ff001b;
$col-dark-red: #d60000;
$col-red: #e10017;
$col-white: #ffffff;
