html {
  box-sizing: border-box;
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Acrobat', sans-serif;
  background-color: $col-black;
  height: 100%;
}

.no-overflow {
  overflow: hidden;
}

.z {
  height: 100%;
  // display: flex;
  // flex-flow: row;
  // justify-content: space-between
}

.wrapper {
  width: 84%;
  margin: auto;
  max-width: 1140px;
}

.content {
  flex-grow: 1;
}

@media (min-width: 740px) {
  .z {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
  }
}
