html {
  box-sizing: border-box;
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Acrobat', sans-serif;
  background-color: $col-black;
  height: 100%;
}

.z {
  min-height: 100%;
  // display: flex;
  // flex-flow: row;
  // justify-content: space-between
}

.wrapper {
  width: 84%;
  margin: auto;
}

.content {
  flex-grow: 1;
}

@media (min-width: 740px) {
  .content {
    flex-grow: 0;
  }
  .z {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
  }
}
