@font-face {
  font-family: Acrobat;
  src: url(../fonts/Akrobat/Akrobat-Regular.otf) format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: Acrobat;
  src: url(../fonts/Akrobat/Akrobat-Bold.otf) format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: Acrobat;
  src: url(../fonts/Akrobat/Akrobat-ExtraBold.otf) format('opentype');
  font-weight: 900;
}

@font-face {
  font-family: Acrobat;
  src: url(../fonts/Akrobat/Akrobat-ExtraLight.otf) format('opentype');
  font-weight: 100;
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans/OpenSans-Regular.ttf) format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans/OpenSans-Bold.ttf) format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans/OpenSans-ExtraBold.ttf) format('opentype');
  font-weight: 900;
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans/OpenSans-Light.ttf) format('opentype');
  font-weight: 100;
}
