.text-input {
  border: none;
  height: 70px;
  padding: 20px 25px;
  font-size: 15px;
  color: $col-gray-light;
  width: 100%;
  outline: none;
}

//---radio
.radio-input {
  height: 60px;
  padding: 20px;
  background-color: $col-black25;
  transition: background 0.3s;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  min-width: 120px;
  width: 49%;
  &.active {
    background-color: $col-bright-red;
  }
  &:hover {
    background-color: $col-bright-red;
  }
}

.radio-input:focus {
  background-color: #ff00ff;
}

.radio-input input {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.radio-input__decorator {
  width: 14px;
  height: 14px;
  background-color: $col-white;
  border-radius: 50%;
}

.radio-input input:checked ~ .radio-input__decorator {
  width: 12px;
  height: 12px;
  border: 2px solid $col-white;
  background-color: $col-bright-red;
}

.radio-input__text {
  font-size: 16px;
  font-weight: 300;
  color: $col-white;
}
//---radio
.number-input{
  display: flex;
  flex-direction: row;
  align-items: center
}

.number-input__value{
  background-color: $col-black25;
  height: 60px;
  padding: 15px 20px;
  border: none; 
  width: 100%;
  outline: none;
}

.number-input__plus,
.number-input__minus{
  display: none;
}

.number-input__note{
  display: none;
}

@media(min-width: 740px) {
  .radio-input {
    height: 85px;
  }

  .radio-input__decorator {
    width: 25px;
    height: 25px;
    background-color: $col-white;
    border-radius: 50%;
  }

  .radio-input__text {
    font-size: 24px;
    font-weight: 300;
    color: $col-white;
  }
  
  .radio-input input:checked ~ .radio-input__decorator {
    width: 25px;
    height: 25px;
    border: 4px solid $col-white;
    background-color: $col-bright-red;
  }

  .number-input__value{
    width: 60px;
    font-size: 45px;
  }

  .number-input__plus,
  .number-input__minus{
    font-size: 46px;
    color: $col-white;
    transition: color .3s;
    display: block;
    margin: 0 10px;
    &:hover{
      color: $col-bright-red;
    }
  }

  .number-input__note{
    display: block;
    font-family: OpenSans;
    font-size: 13px;
    font-weight: 300;
    font-style: italic;
    line-height: 1.54;
    color: $col-white;
    max-width: 160px;
    margin-left: 20px;
  }

  
}